<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>J.T. Bermudez Dental Clinic</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="/assets/css/style1.css"/>
	<!-- End layout styles -->
	<link rel="shortcut icon" href="/assets/images/icon.png"/>
</head>
<body>
<div class="container-scroller">
	<div class="container-fluid page-body-wrapper full-page-wrapper">
		<div class="content-wrapper d-flex align-items-center auth">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<br>
						<div class="brand-logo">
							<a href="/" class="navbar-brand"><img src="/img/og.png"
																  alt="logo" title="logo"></a>
						</div>
						<form class="form-sample">
							<br>
							<h4>New here?</h4>
							<h6 class="font-weight-light">It only takes a few steps to sign up!</h6>
							<br><br><br><br>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">First Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Last Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Nickname</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Middle Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Gender</label>
										<div class="col-sm-4">
											<select class="form-control">
												<option>Male</option>
												<option>Female</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Date of Birth</label>
										<div class="col-sm-5">
											<input type="date" class="form-control" placeholder="dd/mm/yyyy"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Age</label>
										<div class="col-sm-4">
											<input type="number" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Religion</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Nationality</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Home Address</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Landline No.</label>
										<div class="col-sm-9">
											<input type="number" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Occupation</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Office No.</label>
										<div class="col-sm-9">
											<input type="number" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Mobile No.</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">E-Mail Address</label>
										<div class="col-sm-9">
											<input type="text" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="border-top border-success mx-auto my-3"></div>
							<br>
							<h4 class="card-description"> For Minors </h4>
							<br>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">Parent/Guardian Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Occupation</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-12 col-form-label">Who may we thank for reffering you?</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-9 col-form-label">What is your main reason for dental
										consultation or chief complaint?</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"/>
									</div>
								</div>
							</div>
							<br>
							<br>
							<div class="mt-6">
								<a class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn"
								   href="/">SIGN UP</a>
							</div>
							<div class="text-center mt-4 font-weight-light"> Already have an account? <a
									href="/loginpage/login" class="text-primary">Login</a>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- content-wrapper ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<script src="/assets/js/hoverable-collapse.js"></script>
<script src="/assets/js/misc.js"></script>
<!-- endinject -->
</body>
</html>