<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dentist Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/assets/css/style1.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../../static/img/icon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo"><img src="../../../static/img/og.png" alt="logo"/></a>

        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-left">


                <div class="wel">
                  <p class="mb-1 text-black">Welcome Dentist</p>
                </div>



          </ul>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-text">
                  <p href="" class="mb-1 text-black">Bryan Houck</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li class="nav-item">
              <a class="nav-link" href="../dentist/DentistDash.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Schedule</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-calendar menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="../dentist/Sched.html">Add Schedule</a></li>
                  <li class="nav-item"> <a class="nav-link" href="../dentist/Update.html">Update Schedule</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Patient Information</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-folder menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="../dentist/PatientInfo.html">View Patient Info</a></li>
                  <li class="nav-item"> <a class="nav-link" href="../dentist/UpdatePatientInfo.html">Update Patient Info</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../dentist/Diagnosis.html">
                <span class="menu-title">Diagnosis</span>
                <i class="mdi mdi-file-chart menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">

              </div>
            </div>
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-success text-white mr-2">
                  <i class="mdi mdi-clock"></i>
                </span> Add Schedule
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"></li>
                </ul>
              </nav>
            </div>







        </div>
      </div>
    </div>


          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">www.JT-DentalClinic.com &copy; 2021</span>
            </div>
          </footer>

        </div>
      </div>
    </div>

    <script src="../../../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../../../static/assets/js/off-canvas.js"></script>
    <script src="../../../static/assets/js/hoverable-collapse.js"></script>
    <script src="../../../static/assets/js/misc.js"></script>
    <script src="../../../static/assets/js/chart.js"></script>
    <script src="../../../static/assets/js/dashboard.js"></script>
    <script src="../../../static/assets/js/todolist.js"></script>

  </body>
</html>
