<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patient Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../static/assets/css/style1.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../../static/img/icon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo"><img src="../../../static/img/og.png" alt="logo"/></a>

        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>

          <ul class="navbar-nav navbar-nav-left">


                <div class="wel">
                  <p class="mb-1 text-black">Welcome Patient</p>
                </div>



          </ul>

          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-text">
                  <p href="" class="mb-1 text-black">Bryan Houck</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li class="nav-item">
              <a class="nav-link" href="../patient/Assessment.html">
                <span class="menu-title">Self-Assessment</span>
                <i class="mdi mdi-cards-outline menu-icon"></i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../patient/Appointment.html">
                <span class="menu-title">Online Appointment</span>
                <i class="mdi mdi-calendar-plus menu-icon"></i>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="../patient/Diagnosis.html">
                <span class="menu-title">Diagnosis</span>
                <i class="mdi mdi-tooth menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../patient/Diagnosis.html">
                <span class="menu-title">Services</span>
                <i class="mdi mdi-shopping menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">

              </div>
            </div>
            <div class="page-header">
              <h3 class="page-title">
                 Dashboard
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"></li>
                </ul>
              </nav>
            </div>


            <div class="col-12">
            	<div class="card">
            		<div class="card-body">
            				<h3 class="card-description"> Dental History </h3><br><br>
            				<div class="row">
            					<div class="col-md-6">
            						<div class="form-group row">
            							<label class="col-sm-3 col-form-label">Previous Dentist/Dr.</label>
            							<div class="col-sm-9">
            								<input type="text" class="form-control" />
            							</div>
            						</div>
            					</div>
            					<div class="col-md-6">
            						<div class="form-group row">
            							<label class="col-sm-3 col-form-label">Specialty, if applicable</label>
            							<div class="col-sm-9">
            								<input type="text" class="form-control" />
            							</div>
            						</div>
            					</div>
            				</div>
            				<div class="row">
            					<div class="col-md-6">
            						<div class="form-group row">
            							<label class="col-sm-3 col-form-label">Office Address</label>
            							<div class="col-sm-9">
            								<input type="text" class="form-control" />
            							</div>
            						</div>
            					</div>
            					<div class="col-md-6">
            						<div class="form-group row">
            							<label class="col-sm-3 col-form-label">Office No.</label>
            							<div class="col-sm-9">
            								<input type="text" class="form-control" />
            							</div>
            						</div>
            					</div>



            				</div>

            				<br>
            				<div class="col-md-6">
            					<div class="form-group row">
            					<label class=""> 1. Are you in good health?</label>


            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> No </label>
            									</div>
            								</div>


            							<div class="col-md-15">
            								<div class="form-group row">
            									<label class="col-sm-12 col-form-label">What are you medicines prescribed by your doctor?</label>
            									<div class="col-lg-9">
            										<input type="text" class="form-control" />
            									</div>
            								</div>
            							</div>



            					</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            					<label class=""> 2. Are you in medical treatment right now?</label>


            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios2" id="membershipRadios3" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios2" id="membershipRadios4" value="option2"> No </label>
            									</div>
            								</div>


            							<div class="col-md-15">
            								<div class="form-group row">
            									<label class="col-sm-12 col-form-label">If so, what is the medical condition being treated?</label>
            									<div class="col-lg-9">
            										<input type="text" class="form-control" />
            									</div>
            								</div>
            							</div>



            					</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            					<label class=""> 3. Have you ever had serious illness or surgical operation?</label>


            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios3" id="membershipRadios5" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios3" id="membershipRadios6" value="option2"> No </label>
            									</div>
            								</div>


            							<div class="col-md-15">
            								<div class="form-group row">
            									<label class="col-sm-12 col-form-label">If so, what illness or operation?</label>
            									<div class="col-lg-10">
            										<input type="text" class="form-control" />
            									</div>
            								</div>
            							</div>



            					</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            					<label class=""> 4. Have you ever been hopitalized?</label>


            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            									</div>
            								</div>


            							<div class="col-sm-15">
            								<div class="form-group row">
            									<label class="col-sm-12 col-form-label">If so, when and why?</label>
            									<div class="col-lg-11">
            										<input type="text" class="form-control" />
            									</div>
            								</div>
            							</div>



            					</div>
            				</div>

            				<div class="row">
            					<div class="col-sm-8">
            							<label> 5. For women. Are you pregnant?</label>
            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            									</div>
            								</div>
            					</div>

            					<div class="col-md-6">
            							<label class="col-sm-8 col-form-label">Or expecting to be pregnant</label>

            								<div class="col-sm-8">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            									</div>
            								</div>
            								<div class="col-sm-5">
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            									</div>
            								</div>
            					</div>


            						<label class="col-md-8 col-form-label">Are you nursing/breastfeeding?</label>

            							<div class="col-sm-8">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            								</div>
            							</div>
            							<div class="col-sm-5">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            								</div>
            							</div>

            						<label class="col-sm-12 col-form-label">Are you taking birth control pills?</label>
            							<div class="col-sm-8">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            								</div>
            							</div>
            							<div class="col-sm-5">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            								</div>
            							</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            						<label class=""> 6. Are you using tabacco products?</label>
            							<div class="col-sm-8">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios1" value="" checked> Yes </label>
            								</div>
            							</div>
            							<div class="col-sm-5">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios2" value="option2"> No </label>
            								</div>
            							</div>



            					</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            						<label class=""> 7. Do you use alchohol, cocaine or other dangerous drugs?</label>
            							<div class="col-sm-8">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios3" value="" checked> Yes </label>
            								</div>
            							</div>
            							<div class="col-sm-5">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios4" value="option2"> No </label>
            								</div>
            							</div>


            					</div>
            				</div>

            				<div class="col-md-6">
            					<div class="form-group row">
            						<label class=""> 8. Are you allergic to any of the following?</label>
            					</div>
            					<div class="row">
            						<div class="col-md-6">
            							<div class="form-group">
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="checkbox" class="form-check-input"> Local anesthetic(ex. Lidocaine) </label>
            								</div>
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="checkbox" class="form-check-input" checked> Penicillin/ Antibiotics </label>
            								</div>
            								<div class="form-check">
            									<label class="form-check-label">
            										<input type="checkbox" class="form-check-input"> Sulfa drugs </label>
            								</div>



            							</div>
            						</div>
            						<div class="col-md-6">


            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="checkbox" class="form-check-input"> Asperin </label>
            									</div>
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="checkbox" class="form-check-input"> Latex </label>
            									</div>
            									<div class="form-check">
            										<label class="form-check-label">
            											<input type="checkbox" class="form-check-input"> Others: </label>

            												<input type="text" class="form-control" />
            											</div>


            							</div>
            						</div>
            					</div>

            				</div>
            				<br>

            				<div class="col-md-6">

            						<label class="col-sm-7 col-form-label">9. Blood Type</label>
            						<div class="col-sm-9">
            							<select class="form-control">
            								<option>A+</option>
            								<option>A-</option>
            								<option>B+</option>
            								<option>B-</option>
            								<option>O+</option>
            								<option>O-</option>
            								<option>AB+</option>
            								<option>AB-</option>
            							</select>
            						</div>

            				</div>

            				<div class="col-md-4">
            					<label class="col-sm-7 col-form-label"> 10. Blood Pressure</label>
            					<div class="col-sm-9">
            						<input type="text" class="form-control" placeholder="mm/hg"/>
            					</div>
            			</div>

            			<div class="col-md-4">
            					<label class="col-sm-7 col-form-label">11. Bleeding Time</label>
            					<div class="col-sm-9">
            						<input type="text" class="form-control" />
            					</div>
            			</div>
                  <br>
            			<div class="col-md-7">
            					<label class="col-md-7 "> 12. Do you have or have you had any of the following? Please check which apply.</label>
            			</div>
            			</form>

            <div class="col-md-6"
            <ul class="checkboxes">
            		<div><label><input class="form-check-input" type="checkbox" name="text1" value="value1"  />High blood pressure</label></div>
                <div><label><input type="checkbox" name="text2" value="value2" />Low blood pressure</label></div>
                <div><label><input type="checkbox" name="text3" value="value3" />Epilepsy</label></div>
                <div><label><input type="checkbox" name="text4" value="value4" />AIDS/HIV infection</label></div>
                <div><label><input type="checkbox" name="text5" value="value5" />Sexually transmitted disease</label></div>
                <div><label><input type="checkbox" name="text6" value="value6" />Stomach trouble/Ulcers</label></div>
                <div><label><input type="checkbox" name="text7" value="value7" />Bleeding problems</label></div>
                <div><label><input type="checkbox" name="text8" value="value8" />Fainting/Seizures</label></div>
            		<div><label><input type="checkbox" name="text9" value="value9" />Rapid weight loss</label></div>
                <div><label><input type="checkbox" name="text10" value="value10" />Rediation therapy</label></div>
                <div><label><input type="checkbox" name="text11" value="value11" />Arthritis</label></div>
                <div><label><input type="checkbox" name="text12" value="value12" />Joint replacement/Implant</label></div>
                <div><label><input type="checkbox" name="text13" value="value13" />Heart Disease</label></div>
                <div><label><input type="checkbox" name="text14" value="value14" />Heart murmur</label></div>
                <div><label><input type="checkbox" name="text15" value="value15" />Hepatitis/Liver Disease</label></div>
                <div><label><input type="checkbox" name="text16" value="value16" />Rheumatic Fever</label></div>
            		<div><label><input type="checkbox" name="text1" value="value17" />Allergies/Hay fever</label></div>
                <div><label><input type="checkbox" name="text2" value="value18" />Respiratory problems</label></div>
                <div><label><input type="checkbox" name="text3" value="value19" />Heart surgery</label></div>
                <div><label><input type="checkbox" name="text4" value="value20" />Jaundice</label></div>
                <div><label><input type="checkbox" name="text5" value="value21" />Tuberculosis</label></div>
                <div><label><input type="checkbox" name="text6" value="value22" />Swollen ankles</label></div>
                <div><label><input type="checkbox" name="text7" value="value23" />Thyroid problems</label></div>
                <div><label><input type="checkbox" name="text8" value="value24" />Kidney Disease</label></div>
            		<div><label><input type="checkbox" name="text9" value="value25" />Cancer/Tumor</label></div>
                <div><label><input type="checkbox" name="text10" value="value26" />Anemia</label></div>
                <div><label><input type="checkbox" name="text11" value="value27" />Angina</label></div>
                <div><label><input type="checkbox" name="text12" value="value28" />Asthma</label></div>
                <div><label><input type="checkbox" name="text13" value="value29" />Emphysema</label></div>
                <div><label><input type="checkbox" name="text14" value="value30" />Diabetes</label></div>
                <div><label><input type="checkbox" name="text15" value="value31" />Heart Attact</label></div>
                <div><label><input type="checkbox" name="text16" value="value32" />Blood disease</label></div>
            		<div><label><input type="checkbox" name="text13" value="value33" />Head injury</label></div>
                <div><label><input type="checkbox" name="text14" value="value34" />Chest pain</label></div>
                <div><label><input type="checkbox" name="text15" value="value35" />Stroke</label></div>
                <div><label><input type="checkbox" name="text16" value="value36" />Others: </label>	<input type="text" class="form-control" /> </div>
            </ul>
          </div>

                  <div class="buton">
            				<div class=" py-3 px-0 pl-1">
            					<button type="submit" class="btn btn-warning mb-4">Submit</button>
            				</div>
                  </div>

            		</div>
            	</div>
            </div>






        </div>
      </div>
    </div>


          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">www.JT-DentalClinic.com &copy; 2021</span>
            </div>
          </footer>

        </div>
      </div>
    </div>

    <script src="../../../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../../../static/assets/js/off-canvas.js"></script>
    <script src="../../../static/assets/js/hoverable-collapse.js"></script>
    <script src="../../../static/assets/js/misc.js"></script>
    <script src="../../../static/assets/js/chart.js"></script>
    <script src="../../../static/assets/js/dashboard.js"></script>
    <script src="../../../static/assets/js/todolist.js"></script>

  </body>
</html>
